ICEBREAKER_PORT=3000
AUTO_KILL_PREVIOUS_PROCESS="true"
MAC_TAB="false"
MAC_TAB_USE_EXEC="false"
ADMIN_OPEN="false"
TEST_MODE="false"

DISABLE_RATE_LIMIT="false"
PROXY_HOP_AMOUNT=1 
#use 0 for testing, 1 for something like render, etc
USE_TURSO_DATABASE='true'
LAST_SQL_MODE='undefined'
# equal to what USE_TURSO_DATABASE was in the last run


TURSO_AUTH_TOKEN=undefined
TURSO_DATABASE_URL=undefined
#needed for using turso database
